<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
 
<p>
	<b>Roles:</b>
	<%= @user.roles %>
</p>

<p>
	<b>Rating:</b>
	<%= @user.roles %>
</p>

<p>
	<b>Markets:</b>
	<%= @user.markets %>
</p>